/* ---------------------------header--------------------------- */

.header {
    width: 100%;
    min-height: 70px;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0 20px;
    z-index: 10;
    transition: all ease .5s;
}

.header_on {
    background-color: #FFFFFF;
}

.logo, .logo_white {
    display: none;
    width: 165px;
    margin: auto 0;
}

.logo.on, .logo_white.on {
    display: block;
}

.gnb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
}

.gnb_back {
    width: 100%;
    max-width: 500px;
    transition: all 0.6s;
}

.gnb_back::after {
    content: '';
    width: 100vw;
    height: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 80px;
    background: #FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    transition: height 0.6s;
    z-index: -1;
}

.header .gnb_back:hover::after {
    height: 160px;
    transition: height 0.5s;
    color: #121212;
}

.gnb_ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gnb .gnb_ul > li {
    position: relative;
    padding: 30px 0;
    flex: 1 0 auto;
}

.lnb_title {
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: 500;
}

.gnb_ul li:hover .lnb_title {
    display: block;
}

.gnb_ul li:hover .lnb::after {
    content: '';
    width: 70px;
    position: absolute;
    top: -14px;
    left: 0;
    border-top: 4px solid #ffd44a;
}

.gnb:hover .lnb_title.on {
    color: #1f1f1f;
}

.gnb .lnb {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    text-align: left;
    transition: opacity 0.5s;
    font-size: 0.8em;
    color: #666666;
}

.gnb_ul:hover .lnb {
    width: 100%;
    height: auto;
    margin-top: 20px;
    position: absolute;
    top: 70px;
    left: 0;
    visibility: visible;
    line-height: 2rem;
    transition: opacity 0.5s;
    opacity: 1;
    z-index: 9;
    font-weight: 400;
    display: block;
}

.gnb .lnb li {
    transition: opacity 0.8s;
}

.gnb .lnb li:hover {
    color: #1f1f1f;
}

    /* ---------------------------main slider--------------------------- */
.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #000000;
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: #000000;
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

/* ---------------------------section1--------------------------- */

/* ---------------------------section2--------------------------- */

/* ---------------------------section3--------------------------- */

/* ---------------------------section4--------------------------- */

/* ---------------------------footer--------------------------- */
